.introduction-section {
  background: url("../images/mrfrontend-background.jpg") no-repeat top center;
  background-size: cover;
  font-size: 1.3rem;
}
.introduction-wrapper {
  @extend %contentWrapper;
}
