.social-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  @extend %clearfix;
  &__item {
    float: left;
  }
  &__link {
    color: $pink;
    text-decoration: none;
    &:hover {
      color: darken($pink, 10%);
    }
  }
}
