.introduction__prices {
  display: flex;
  justify-content: space-around;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}
.price {
  &__box,
  &__box--free {
    width: 40%;
    transition: 0.3s ease-in-out;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    &:hover {
      border-color: $white;
      .price__box-link {
        color: $white;
      }
    }
  }
  &__box{
    border: 5px solid $grey-dark;
    .price__box-link {
      flex-direction: row;
      color: $grey-dark;
      @media screen and (max-width: 768px) {
        flex-direction: column;
        text-align: center;
      }
    }
  }
  &__box--free {
    border: 5px solid $pink-neon;
    text-align: center;
    @media screen and (max-width: 768px) {
      margin-bottom: 1rem;
    }
    .price__box-link {
      flex-direction: column;
      color: $pink-neon;
    }
  }
  &__box-link {
    padding: 1rem;
    transition: 0.3s ease-in-out;
    display: flex;
    background: transparent;
    text-decoration: none;
  }
  &__element,
  &__element-free {
    line-height: 1;
    text-transform: uppercase;
  }
  &__element {
    font-size: 5.8rem;
    margin-right: .5rem;
    @media screen and (max-width: 768px) {
      margin-right: 0;
    }
  }
  &__element-free {
    font-size: 4rem;
  }
  &__description,
  &__description-free {
    text-transform: uppercase;
  }
  &__description {
    margin-top: 20px;
    @media screen and (max-width: 768px) {
      margin-top: 0;
    }
  }
  &__description-free {
    font-size: 1.3rem;
  }
}
