* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
body,html{
  margin: 0;
  padding: 0;
}
html {
  line-height: 1.48;
}
body {
  color: $white;
  font-size: 1.5rem;
  font-family: 'Roboto Slab', serif;
}
